body {
  margin: 40px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to right,
    rgb(229, 68, 150) 0%,
    rgb(124, 6, 83) 100%
  );
  text-align: center;
}

.app-title {
  margin-top: 75px;
  margin-bottom: 20px;
  font-size: 136px;
  text-align: center;
  color: #f2ff7f;
  font-family: 'Bigelow Rules';
}

